<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	{{> header}}
	<div>

		<h3>{{screamIt welcomeMessage}}</h3>
		<p>You are in homepage Bhutiye</p>
		
	</div>
	{{> footer}}
</body>
</html>